<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Employee</h1>
                        </div>
                        <form class="user">
                            <div class="form-group">
                                <input [(ngModel)]="employee.username" name="username" type="text" class="form-control form-control-user" id="exampleInputUsername"
                                    placeholder="Username">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input [(ngModel)]="employee.firstName" name="firstName" type="text" class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="First Name">
                                </div>
                                <div class="col-sm-6">
                                    <input [(ngModel)]="employee.lastName" name="lastName" type="text" class="form-control form-control-user" id="exampleLastName"
                                        placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <input [(ngModel)]="employee.email" name="email" type="email" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <span>Birthdate</span>
                                <input [(ngModel)]="employee.birthDate" name="birthDate" type="date" class="form-control form-control-user" id="exampleInputBirthdate"
                                    placeholder="Birth Date">
                            </div>
                            <div class="form-group">
                                <input [(ngModel)]="employee.basicSalary" name="salary" type="text" class="form-control form-control-user" id="exampleInputSalary"
                                    placeholder="Salary">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input [(ngModel)]="employee.status" name="status" type="text" class="form-control form-control-user" id="exampleInputStatus"
                                        placeholder="Status">
                                </div>
                                <div class="col-sm-6">
                                    <select [(ngModel)]="employee.groups" name="group" class="form-control" id="exampleFormControlSelect1">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <span>Description</span>
                                <input [(ngModel)]="employee.description" name="description" type="date" class="form-control form-control-user" id="exampleInputDesc"
                                    placeholder="Description">
                            </div>
                            <a (click)="addEmployee()" class="btn btn-primary btn-user btn-block">
                                Add Employee
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>