<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Detail Employee</h1>
                        </div>
                        <form class="user">
                            <div class="form-group">
                                <span>Username</span>
                                <input value="{{employee.username}}" disabled type="text" class="form-control form-control-user" id="exampleInputUsername"
                                    placeholder="Username">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <span>First Name</span>
                                    <input value="{{employee.firstName}}" disabled type="text" class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="First Name">
                                </div>
                                <div class="col-sm-6">
                                    <span>Last Name</span>
                                    <input value="{{employee.lastName}}" disabled type="text" class="form-control form-control-user" id="exampleLastName"
                                        placeholder="Last Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <span>Email</span>
                                <input value="{{employee.email}}" disabled type="email" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <span>Birthdate</span>
                                <input value="{{transformDate(employee.birthDate)}}" disabled type="text" class="form-control form-control-user" id="exampleInputBirthdate"
                                    placeholder="Birth Date">
                            </div>
                            <div class="form-group">
                                <span>Salary</span>
                                <input value="{{employee.basicSalary}}" disabled type="text" class="form-control form-control-user" id="exampleInputSalary"
                                    placeholder="Salary">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <span>Status</span>
                                    <input value="{{employee.status}}" disabled type="text" class="form-control form-control-user"
                                        id="exampleInputStatus" placeholder="Status">
                                </div>
                                <div class="col-sm-6">
                                    <span>Group</span>
                                    <input value="{{employee.group}}" disabled type="text" class="form-control form-control-user"
                                        id="exampleRepeatGroup" placeholder="Group">
                                </div>
                            </div>
                            <div class="form-group">
                                <span>Description</span>
                                <input value="{{transformDate(employee.description)}}" disabled type="text" class="form-control form-control-user" id="exampleInputDesc"
                                    placeholder="Description">
                            </div>
                            <a href="employee" class="btn btn-primary btn-user btn-block">
                                OK
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>