<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-8 col-lg-10 col-md-7">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome</h1>
                                </div>
                                <div *ngIf="dataProperties.error" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    Username atau Password Salah!
                                    <button (click)="dataProperties.error = false" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input [(ngModel)]="dataProperties.username" name="username" type="text" class="form-control form-control-user"
                                            id="exampleInputUsername" aria-describedby="usernameHelp"
                                            placeholder="Enter Username...">
                                    </div>
                                    <div class="form-group">
                                        <input [(ngModel)]="dataProperties.password" name="password" type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <a (click)="cekLogin()" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>